#cabecalho_pag 
{   
    text-align: center;
}

.form_cadastro
{   
    width: 40%;
    display: inline-block;
    float: left;
    margin: 10px 8px 10px 0px;
}

.pesquisa 
{
    width:50%;
    margin: 120px auto;
    text-align:center;
}

.fieldset 
{
    width:21%;
    float:left;
    margin-top: 11px;
    padding-right: 5px;
}    

.remove
{
    padding: 5px 8px;
    border: none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

fieldset
{
    border: none;
    border-top: 1px solid black;
    padding: 0px 8px 5px;
} 

#fieldset {
    padding: 5px;
	width: 136px;
	height: 170px;
	margin: 25px auto 0px auto;
	position: relative;
}


.label
{
    display: block;
    font-family: Corbel, Sans-Serif;
    font-weight: bold;
    text-align: left;

}

.label_resposta
{
    font-family: Corbel, Sans-Serif;
}

.label_remover
{
    font-family: Corbel, Sans-Serif;
    font-weight: bold; 
}

.label_situacao_inadimplente
{
    font-family: Corbel, Sans-Serif;
    color:Red;
}

.label_situacao_em_dia
{
    font-family: Corbel, Sans-Serif;
    color: Green;
}

.input 
{
    text-align: left;
    display:block;
}

legend 
{
    font-family: Corbel, Sans-Serif;
    margin-left: 10px;
    color:#d22000;
}

.botoes
{
    text-align:center;
    display:block;
    clear: both;
    width: 250px;
    margin: 1px auto;
}

.button 
{
   border-style: none;
    border-color: inherit;
    border-width: medium;
    padding: 3px;
    border-radius: 3px;
    background-color: #d22000;
    color: white;
    margin: 78px 12px 5px;
}

.button:hover 
{
    background-color: #f02000;
    cursor: pointer;
}

.button_remover 
{
   padding: 3px;
   border: none;
   border-radius: 3px;
   background-color: #d22000;
   color: white;
   margin: 20px 5px 5px;
}

.button_remover:hover 
{
    background-color: #f02000;
    cursor: pointer;
}

.img_button 
{
    margin-left: 25px;
}
