div 
{
    padding: 6px;
    width: 218px;
    height: 210px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;    
    border: 1px solid #000000;
    top: 14px;
    left: 48%;
}
